<div class="home container">
  <!-- Header -->
  <div class="header flex">
    <div class="left flex flex-column">
      <h1>Invoices</h1>
      <span> Showing 4 total invoices </span>
    </div>
    <div class="right flex">
      <div (click)="toggleFilterMenu()" class="filter flex">
        <span>Filter by status</span>
        <img src="assets/icon-arrow-down.svg" alt="" />
        <ul *ngIf="filterMenu" class="filter-menu">
          <li>Draft</li>
          <li>Pending</li>
          <li>Paid</li>
          <li>Clear Filter</li>
        </ul>
      </div>
      <div (click)="newInvoice()" class="button flex">
        <div class="inner-button flex">
          <img src="assets/icon-plus.svg" alt="" />
        </div>
        <span>New Invoice</span>
      </div>
    </div>
  </div>

  <div *ngIf="invoiceData$ | async; else noInvoiceData">
    <app-invoice-preview
      *ngFor="let invoice of invoiceData$ | async"
      [invoice]="invoice"
    ></app-invoice-preview>
  </div>
  <ng-template #noInvoiceData>
    <div class="empty flex flex-column">
      <img src="assets/illustration-empty.svg" alt="" />

      <h3>There is nothing here</h3>
      <p>
        Create a new invoice by clicking the New Invoice button and get started
      </p>
    </div>
  </ng-template>
</div>
