<div>
  <div *ngIf="!mobile" class="app flex flex-column">
    <app-navigation></app-navigation>
    <div class="app-content flex flex-column">
      <app-invoice-modal
        @insertRemoveTrigger
        *ngIf="invoiceModal$ | async"
      ></app-invoice-modal>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="mobile" class="mobile-message flex-flex-column">
    <h2>Sorry, this app is not supported on mobile devices.</h2>
    <p>To use this app, please use a computer or tablet.</p>
  </div>
</div>
